/node_modules
/public/hot
/public/storage
/public/assets/vendors
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/error_log

package-lock\.json
